@import '../../scss/variables';

.Destination {
	height: 100%;
	width: 100%;
	background: url('../../assets/destination/background-destination-mobile.jpg')
		no-repeat center center / cover;
	padding: 1.5rem;
	margin: 0;
	position: relative;
	overflow-x: hidden;

	.planetImg {
		margin-top: 2rem;
		margin-bottom: 1.625rem;
		display: flex;
		justify-content: center;

		img {
			width: 170px;
			height: 170px;
		}
	}

	&__planetNames {
		width: 14.8438rem;
		height: 1.75rem;
		margin: 0 auto;
		ul {
			display: flex;
			width: 100%;
			font-family: $subheadingFont;
			justify-content: space-between;
			align-items: center;
		}

		li {
			color: $mainLight;
			list-style: none;
			text-transform: uppercase;
			letter-spacing: 2.36px;
			font-weight: lighter;
			opacity: 0.7;

			&.active {
				position: relative;
				opacity: 1;
				&::after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					bottom: -50%;
					left: 0;
					right: 0;
					background: white;
				}
			}
		}
	}
	.PlanetTitle {
		font-size: 3.5rem;
		font-family: $headingFont;
		color: $mainLight;
		font-weight: lighter;
		text-transform: uppercase;
		text-align: center;
		margin-top: 1.25rem;
	}

	.TravelInfo {
		text-align: center;
		margin-top: 1.5rem;
		h3 {
			font-family: $subheadingFont;
			color: $mainGray;
			font-size: 0.875rem;
			letter-spacing: 0.1475rem;
			font-weight: lighter;
			margin-bottom: 12px;
		}
		h2 {
			font-family: $headingFont;
			font-size: 1.75rem;
			font-weight: lighter;
			color: $mainLight;
			text-transform: uppercase;
		}

		.distance {
			margin-bottom: 1.5rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.Destination {
		background: url('../../assets/destination/background-destination-tablet.jpg')
			no-repeat center center / cover;
	}
}

@media screen and (min-width: 1200px) {
	.Destination {
		background: url('../../assets/destination/background-destination-desktop.jpg')
			no-repeat center center / cover;
	}
}
