@import '../../scss/variables';

.Destination {
	height: 100%;
	width: 100%;
	background: url('../../assets/destination/background-destination-mobile.jpg')
		no-repeat center center / cover;
	padding: 1.5rem;
	margin: 0;
	position: relative;
	overflow-x: hidden;

	.planetImg {
		margin-top: 2rem;
		margin-bottom: 1.625rem;
		display: flex;
		justify-content: center;

		img {
			width: 170px;
			height: 170px;
		}
	}

	&__planetNames {
		width: 14.8438rem;
		height: 1.75rem;
		margin: 0 auto;
		font-size: 14px;
		ul {
			display: flex;
			width: 100%;
			font-family: $subheadingFont;
			justify-content: space-between;
			align-items: center;
		}

		li {
			color: $mainLight;
			list-style: none;
			text-transform: uppercase;
			letter-spacing: 2.36px;
			font-weight: lighter;
			opacity: 0.7;
			cursor: pointer;

			&.active {
				position: relative;
				opacity: 1;
				&::after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					bottom: -50%;
					left: 0;
					right: 0;
					background: white;
				}
			}
		}
	}
	.PlanetTitle {
		font-size: 3.5rem;
		font-family: $headingFont;
		color: $mainLight;
		font-weight: lighter;
		text-transform: uppercase;
		text-align: center;
		margin-top: 1.25rem;
	}

	.TravelInfo {
		text-align: center;
		margin-top: 1.5rem;
		text-transform: uppercase;
		h3 {
			font-family: $subheadingFont;
			color: $mainGray;
			font-size: 0.875rem;
			letter-spacing: 0.1475rem;
			font-weight: lighter;
			margin-bottom: 12px;
		}
		h2 {
			font-family: $headingFont;
			font-size: 1.75rem;
			font-weight: lighter;
			color: $mainLight;
		}

		.distance {
			margin-bottom: 1.5rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.Destination {
		background: url('../../assets/destination/background-destination-tablet.jpg')
			no-repeat center center / cover;
		padding: 0;

		&__content {
			.planetImg {
				margin-bottom: 3.3125rem;
				img {
					width: 18.75rem;
					height: 18.75rem;
				}
			}

			&__planetNames {
				font-size: 1rem;
				margin-bottom: 2rem;
			}
			.PlanetTitle {
				font-size: 5rem;
				margin-bottom: 1.2125rem;
			}
			.BodyText {
				font-size: 1rem;
			}
			.TravelInfo {
				display: flex;
				justify-content: space-around;
				padding: 0 7rem;
				padding-top: 1.125rem;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.Destination {
		background: url('../../assets/destination/background-destination-desktop.jpg')
			no-repeat center center / cover;
		padding-top: 40px;

		.planetImg {
			margin: 0;
			img {
				height: 27.8125rem;
				width: 27.8125rem;
				margin-top: 25px;
			}
		}
		&__planetNames {
			margin: 0;
		}
		.PlanetTitle {
			font-size: 6.25rem;
		}
		.BodyText {
			font-size: 1.125rem;
			text-align: left;
		}

		&__textContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 27.8125rem;
		}
		&__content {
			display: flex;
			justify-content: space-around;
		}
		.TravelInfo {
			padding-left: 0;
			padding-right: 0;
			text-align: left;
			.distance {
				margin-right: 4.9375rem;
			}
		}
	}
}
