@import '../../scss/variables';

.Technology {
	height: 100%;
	width: 100%;
	background: url('../../assets/technology/background-technology-mobile.jpg')
		no-repeat center center / cover;
	position: relative;
	overflow-x: hidden;
	padding-top: 40px;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.Heading {
			font-weight: lighter;
			opacity: 0.7;
		}
		.BodyText {
			border: none;
		}
		.image {
			width: 100%;
			height: 170px;
			margin-top: 2rem;

			.img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.text {
			padding: 1.5rem;

			&__content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.HeadingMd {
					font-size: 1.5rem;
				}
			}
			.numberList {
				display: flex;
				width: 100%;
				list-style: none;
				justify-content: center;
				align-items: center;
				margin-top: 1.25rem;
				margin-bottom: 1.875rem;

				li {
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: $headingFont;
					font-size: 1rem;
					font-weight: lighter;
					letter-spacing: 1px;
					border: 1px solid rgba(255, 255, 255, 0.3);
					width: 40px;
					height: 40px;
					border-radius: 50vh;
					color: $mainLight;
					margin-right: 1.5rem;

					&:last-child {
						margin: 0;
					}

					&.active {
						background: $mainLight;
						color: #000;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.Technology {
		background: url('../../assets/technology/background-technology-tablet.jpg')
			no-repeat center center / cover;
		&__content {
			width: 100%;

			.image {
				height: 310px;
				width: 100%;
				.img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.numberList {
					margin: 0;

					li {
						width: 60px;
						height: 60px;
						font-size: 1.5rem;
					}
				}
				.Heading {
					padding-left: 0;
					font-size: 1rem;
					text-align: center;
				}
				.HeadingMd {
					font-size: 40px;
				}
				.BodyText {
					padding-left: 4rem;
					padding-right: 4rem;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.Technology {
		background: url('../../assets/technology/background-technology-desktop.jpg')
			no-repeat center center / cover;
		&__content {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			.image {
				width: auto;
				height: auto;
				.img {
					display: none;
				}
				.imgPortrait {
					display: block;
				}
			}

			.text {
				display: flex;
				flex-direction: row;
				padding: 0;
				margin-right: 6.125rem;
				// Text Content
				&__content {
					width: 470px;
					align-items: flex-start;
				}
				.numberList {
					display: flex;
					flex-direction: column;
					margin: 0 4.3rem 0 10.3125rem;
					cursor: pointer;
					li {
						width: 80px;
						height: 80px;
						margin: 0 0 3.3125rem 0;
						font-size: 2rem;

						&:hover {
							background: rgba(255, 255, 255, 0.3);
						}
					}
				}
				.Heading {
					padding: 0;
					margin: 0;
					text-align: left;
				}
				.HeadingMd {
					text-align: left;
					font-size: 3.5rem;
				}
				.BodyText {
					padding: 0;
					max-width: auto;
					text-align: left;
					padding-right: 1.655rem;
				}
			}
		}
	}
}
