@import '../../scss/variables';

.Home {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: url('../../assets/home/background-home-mobile.jpg') no-repeat
		center center / cover;
	position: relative;
	overflow-x: hidden;

	h1 {
		display: none;
		font-size: $headingFontSize2;
		color: $mainLight;
	}

	.hamburger {
		position: absolute;
		right: 0;
	}
}

// tablets
@media screen and (min-width: 768px) {
	.Home {
		background: url('../../assets/home/background-home-tablet.jpg') no-repeat
			center center / cover;
	}
}

// desktops
@media screen and (min-width: 1024px) {
	.Home {
		background: url('../../assets/home/background-home-desktop.jpg') no-repeat
			center center / cover;
	}
}
