@import '../../scss/variables';

.Home {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	margin: 0;
	background: url('../../assets/home/background-home-mobile.jpg') no-repeat
		center center / cover;
	position: relative;
	overflow-x: hidden;

	&__content {
		text-align: center;
		margin-top: 2.7rem;
		h1 {
			font-family: $headingFont;
			color: $mainLight;
			font-size: 5rem;
			font-weight: lighter;
			margin: 1.35rem 0 0.7rem 0;
		}
		h2 {
			font-family: $subheadingFont;
			font-size: 1rem;
			color: $mainGray;
			letter-spacing: 2.7px;
			text-transform: uppercase;
			font-weight: 300;
		}
		p {
			font-family: $bodyFont;
			color: $mainGray;
			font-size: 15px;
			line-height: 1.7;
			font-weight: lighter;
			margin-top: 0px;
		}
		.cta {
			border: none;
			background: $mainLight;
			border-radius: 50vh;
			width: 150px;
			height: 150px;
			font-family: $headingFont;
			font-weight: lighter;
			font-size: 1.25rem;
			text-transform: uppercase;
			margin-top: 5rem;
		}
	}
}

// tablets
@media screen and (min-width: 768px) {
	.Home {
		background: url('../../assets/home/background-home-tablet.jpg') no-repeat
			center center / cover;
	}
}

// desktops
@media screen and (min-width: 1024px) {
	.Home {
		background: url('../../assets/home/background-home-desktop.jpg') no-repeat
			center center / cover;
	}
}
