@import '../../scss/variables';

.Navigation {
	&__logo {
		img {
			width: 40px;
			height: 40px;
		}
	}

	&__icons {
		// position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		img {
			z-index: 10;
		}
	}

	&__list {
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(25.5px);
		-webkit-backdrop-filter: blur(5.5px);
		display: flex;
		flex-direction: column;
		font-family: $subheadingFont;
		font-size: 1.1rem;
		list-style: none;
		padding-left: 2rem;
		position: absolute;
		right: -100%;
		top: 0;
		width: 15.875rem;
		height: 100%;
		transition: 0.3s all ease-in-out;
		padding-top: 7.5rem;

		li {
			color: $mainLight;
			margin-bottom: 2rem;
		}
		a {
			text-decoration: none;
			color: inherit;
			text-transform: uppercase;
		}

		img {
			width: 19.09px;
			height: 19.09px;
			margin-left: auto;
		}

		.listNumber {
			font-weight: bold;
			margin-right: 0.6875rem;
			letter-spacing: 2.7px;
		}

		.listText {
			font-weight: lighter;
			letter-spacing: 2.7px;
		}

		&.active {
			right: 0%;
		}
	}
}

@media screen and (min-width: 768px) {
	.Navigation {
		position: static;

		.close {
			display: none;
		}
	}
}
