@import '../../scss/variables';

.Navigation {
	&__logo {
		img {
			width: 40px;
			height: 40px;
		}
	}

	&__icons {
		// position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		img {
			z-index: 10;
		}
	}

	&__list {
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(25.5px);
		-webkit-backdrop-filter: blur(5.5px);
		display: flex;
		flex-direction: column;
		font-family: $subheadingFont;
		font-size: 1.1rem;
		list-style: none;
		padding-left: 2rem;
		position: absolute;
		right: -100%;
		top: 0;
		width: 15.875rem;
		height: 100%;
		transition: 0.3s all ease-in-out;
		padding-top: 7.5rem;
		z-index: 9;
		li {
			color: $mainLight;
			margin-bottom: 2rem;
			position: relative;
		}
		a {
			text-decoration: none;
			color: inherit;
			text-transform: uppercase;
		}
		a.active {
			&::before {
				content: '';
				position: absolute;
				width: 4px;
				top: 0;
				bottom: 0;
				// right: 0;
				left: -14%;
				background: white;
			}
		}

		img {
			width: 19.09px;
			height: 19.09px;
			margin-left: auto;
		}

		.listNumber {
			font-weight: bold;
			margin-right: 0.6875rem;
			letter-spacing: 2.7px;
		}

		.listText {
			font-weight: lighter;
			letter-spacing: 2.7px;
		}

		&.active {
			right: 0%;
		}
	}
}

@media screen and (min-width: 768px) {
	.Navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__list {
			position: static;
			display: flex;
			width: 28.125rem;
			height: 6rem;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			padding: 0;
			margin: 0;

			li {
				margin: 0;
				font-size: 14px;
			}

			a.active {
				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					top: 53px;
					bottom: 0;
					// right: 0;
					left: 0%;
					background: white;
				}
			}
		}

		.listNumber {
			display: none;
		}
		&__icons {
			.logo {
				padding-left: 39px;
			}
			.toggle {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.Navigation {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 1px;
			background: $mainLight;
			width: 29.5625rem;
			left: 10.4375rem;
			z-index: 15;
			opacity: 0.5;
		}

		&__list {
			width: 51.875rem;
			padding-left: 7.6875rem;
			padding-right: 10.4375rem;
			li {
				font-size: 1rem;
				margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: flex;
				}
			}
		}

		.listNumber {
			display: block;
		}
	}
}
